.footer-navigation-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-navigation-link {
  position: relative;
  width: calc(50% - 12px);
  padding: 12px;
  border: 1px solid #353940;
  border-radius: $border-radius;

  &:hover,
  &:focus {
    border-color: $link-color;
    background-color: $grey-lt-000;

    .footer-navigation-link__icon {
      color: $link-color;
    }
  }
}

.footer-navigation-link--previous {
  text-align: right;
  .footer-navigation-link__icon {
    left: $sp-2;
    transform: rotateY(180deg);
  }
}

.footer-navigation-link--next {
  margin-left: auto; // Always push to right, even if previous link does not exist
  text-align: left;

  .footer-navigation-link__icon {
    right: $sp-2;
  }
}

.footer-navigation-link__icon {
  position: absolute;
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  color: $grey-lt-300;
}

.footer-navigation-link__sublabel {
  display: block;
  font-size: $font-size-2;
  color: $grey-dk-200;
  line-height: 1.2;
}

.footer-navigation-link__label {
  display: block;
  font-size: $font-size-4;
  font-weight: 600;
}
