
<div class="footer-navigation-links">
  {%- if page.previous -%}

  <a class="footer-navigation-link footer-navigation-link--previous" href="{{ site.url }}{{ page.previous.url }}">
    <svg class="footer-navigation-link__icon" viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg>
    <span class="footer-navigation-link__sublabel">{{ site.footer_navigation.previous }}</span>
    <span class="footer-navigation-link__label">{{ page.previous.title }}</span>
  </a>

  {%- endif -%} {%- if page.next -%}

  <a class="footer-navigation-link footer-navigation-link--next" href="{{ site.url }}{{ page.next.url }}">
    <svg class="footer-navigation-link__icon" viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg>
    <span class="footer-navigation-link__sublabel">{{ site.footer_navigation.next }}</span>
    <span class="footer-navigation-link__label">{{ page.next.title }}</span>
  </a>

  {%- endif -%}
</div>

  <p class="text-small text-grey-dk-100 mb-0">&copy; cashfit. Powered by <a href="https://github.com/just-the-docs/just-the-docs">{{ site.theme }}</a></p>
